*
{
	margin: 0;
	padding: 0;
	box-sizing: border-content;
	font-family: "Times New Roman";
}

#error
{
	position: fixed;
	z-index: 100;
}

.centerH
{
	display: flex;
	justify-content: center;
}

.centerV
{
	display: flex;
	align-items: center;
}